# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# usize-backend
input/
resources/
face/
hand/
datapickles/
models/

SECRET_KEY
usize.sqlite

.vscode/
migrations/
output/
pose/
samples/
utils/